.navbar {
    width: 100%;
    height: 80px;
}

//estilos icono del menu
.lbl-menu {
    width: 50px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.span1, .span2, .span3 {
    position: absolute;
    content: '';
    width: 30px;
    height: 5px;
    background-color: rgb(48, 48, 48);
    transition: all 400ms ease;
}

.span2 {
    margin-top: 11px;
    width: 20px;
}

.span3 {
    margin-top: 22px;
    width: 30px;
}

#btn-menu {
    display: none;
}

//animación para que el icono del menu se vuelva una X para cerrarlo
#btn-menu:checked ~ .lbl-menu .span1 {
    transform: rotate(140deg);
    top: 10px;
}

#btn-menu:checked ~ .lbl-menu .span2 {
    opacity: 0;
}

#btn-menu:checked ~ .lbl-menu .span3 {
    transform: rotate(-140deg);
    width: 30px;
    top: -12px;
}
//fin estilos del icono de menu
//Estilo nike logo
.nike-logo {
    width: 60px;
    height: auto;
}
//fin estilo nike logo
//estilo menu
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    background-color: #e7e7e7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 300ms;
    ul {
        padding: 0;
        li {
            list-style: none;
            padding: 1rem;
            color: black;
            cursor: pointer;
        }
    }
}

#btn-menu:checked ~ .menu {
    width: 100%;
}



